.required:after {
  content:" *";
  color: red;
  font-weight: bold;
}

.fake_required:after {
  content:" *";
  color: red;
  font-weight: bold;
}

.indent1 {
  padding-left:20px;
}

.indent2 {
  padding-left:40px;
}
